@import "./utils.scss";

.SassComponent {
    display: flex;
    background: $oc-gray-2;
    // 화면 가로크기가 768미만이면 배경색을 어둡게 해준다.
    @include media("<768px") {
        background: $oc-gray-9;
    }
    .box {
        // .SassComponent .box와 같다.
        background: red;
        cursor: pointer;
        transition: all 0.3s ease-in;

        &.red {
            // .red클래스가 .box와 함께 사용되었을 때
            background: $red;
            @include square(1);
        }
        &.orange {
            background: $orange;
            @include square(2);
        }
        &.yellow {
            background: $yellows;
            @include square(3);
        }
        &.green {
            background: $green;
            @include square(4);
        }
        &.blue {
            background: $blue;
            @include square(5);
        }
        &.indigo {
            background: $indigo;
            @include square(6);
        }
        &.violet {
            background: $violet;
            @include square(7);
        }
        &:hover {
            // 마우스를 올렸을 때
            background: black;
        }
    }
}
